<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" >
        
        <label class="col-sm-4 col-form-label mt-2">Property name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control  mt-2" [(ngModel)]="Name">
        </div>

        <label class="col-sm-4 col-form-label  mt-2">Address</label>
        <div class="col-sm-8">
            <input type="text" class="form-control  mt-2" [(ngModel)]="Address"
            readonly>
        </div>            

        <label class="col-sm-4 col-form-label  mt-2">CodeInternal</label>
        <div class="col-sm-8">
            <input type="number" class="form-control  mt-2" [(ngModel)]="CodeInternal"
            readonly>
        </div>

        <label class="col-sm-4 col-form-label mt-2">Year</label>
        <div class="col-sm-8">
            <input type="text" class="form-control  mt-2" [(ngModel)]="Year" maxlength="4" minlength="4"
            readonly>
        </div>

        <label class="col-sm-4 col-form-label mt-2">Date of Sale</label>
        <div class="col-sm-8">
            <input type="text" class="form-control  mt-2" [(ngModel)]="DateSale" readonly>
        </div>

        <br>

        <label class="col-sm-4 col-form-label mt-2">Price</label>
        <div class="col-sm-8">
            <input type="number" class="form-control mt-2" [(ngModel)]="Price"
            placeholder="Enter Price">
        </div>    

        <label class="col-sm-4 col-form-label mt-2">Tax (%)</label>
        <div class="col-sm-8">
            <input type="number" value="19" class="form-control mt-2" [(ngModel)]="Tax"
            placeholder="Enter tax %">
        </div>   

        <label class="col-sm-4 col-form-label mt-2">Select new owner</label>
        <div class="col-sm-8">
            <select class="form-control mt-2" [(ngModel)]="IdOwner" > 

                <option *ngFor="let ownerList of OwnerList"
                value="{{ownerList.IdOwner}}" label="{{ownerList.Name}}">                    
                </option>

            </select>            
        </div>
    </div>

</div>

<br>

<button (click)="confirmSale()" *ngIf="property.IdProperty != 0" class="btn btn-primary mr-4">
    Confirm sale
</button>