<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()" data-backdrop="static">
    Register Owner
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-owner [owner]="owner" *ngIf="ActivateAddEditOwnerComponent">
            </app-add-edit-owner>
        </div>
      </div>
    </div>
  </div>



  <!-- Data table -->


  <table class="table table-striped">
    <thead>
        <tr>
          <th>
          <div class="d-flex flex-row">
            <input [(ngModel)]="OwnerIdFilter" class="form-control" (keyup)="FilterList()" placeholder="Filter by ID" type="number">
            
            <button type="button" class="btn btn-light" 
              (click)="sortResult('IdOwner', true)">
                
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
              </svg>

            </button>

            <button type="button" class="btn btn-light" 
              (click)="sortResult('IdOwner', false)">
                
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
              </svg>

            </button>

          </div>
                <br>
              Owner Id</th>

          <th>
            
            <div class="d-flex flex-row">
              <input [(ngModel)]="OwnerNameFilter" class="form-control" (keyup)="FilterList()" placeholder="Filter by Name"> 

              <button type="button" class="btn btn-light" 
                (click)="sortResult('Name', true)">
                  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
                </svg>

              </button>

              <button type="button" class="btn btn-light" 
                (click)="sortResult('Name', false)">
                  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                  <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
                </svg>

              </button>

            </div>
            <br>
            Owner Name</th>
          <th>Address</th>
          <th>Birthday</th>
          <th>Photo</th>
          <th>Options</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of OwnerList">
            <td>{{dataItem.IdOwner}}</td>
            <td>{{dataItem.Name}}</td>
            <td>{{dataItem.Address}}</td>
            <td>{{dataItem.Birthday}}</td>
            
            <td>
              
              <div class="ml-3 bd-highlight" style="width: 40%;">
                <img src={{dataItem.PhotoPath}} fallback="https://via.placeholder.com/150?text=?" height="250px;" width="200px;" class="img-fluid">
            </div>
              
              </td>

                <!-- OPTIONS COLUMN -->
            <td>

                <button type="button" class="btn btn-light mr-1"
                
                data-toggle="modal" data-target="#exampleModal"  
                (click)="editClick(dataItem)"
                data-backdrops="static" data-keyboard="false">                    

                <!-- Edit button, svg -->

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>

                </button>

            </td>
        </tr>
    </tbody>

</table>
