<div class="d-flex flex-row bd-highlight mb-3">

    <div class="form-froup row" style="width: 60%;">
        
        <label class="col-sm-4 col-form-label">Property name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="Name"
            placeholder="Enter Property name">
        </div>

        <label class="col-sm-4 col-form-label">Address</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="Address"
            placeholder="Enter Address">
        </div>    

        <label class="col-sm-4 col-form-label">Price</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" [(ngModel)]="Price"
            placeholder="Enter Price">
        </div>    

        <label class="col-sm-4 col-form-label">CodeInternal</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" [(ngModel)]="CodeInternal"
            placeholder="Enter Internal code">
        </div>

        <label class="col-sm-4 col-form-label">Year</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" [(ngModel)]="Year" maxlength="4" minlength="4"
            placeholder="Enter Year" >
        </div>

        <label class="col-sm-4 col-form-label">Property owner</label>
        <div class="col-sm-8">
            <select class="form-control" [(ngModel)]="IdOwner" 
            [disabled]="property.IdProperty != 0" > 

                <option *ngFor="let ownerList of OwnerList"
                value="{{ownerList.IdOwner}}" label="{{ownerList.Name}}">                    
                </option>

            </select>            
        </div>
    </div>

    <div class="ml-3 bd-highlight" style="width: 40%;">
        <img [src]=PhotoFilePath height="250px;" width="200px;" class="img-fluid">
        <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
    </div>

</div>

<br>
<button (click)="addProperty()" *ngIf="property.IdProperty == 0" class="btn btn-primary">
    Register property
</button>

<button (click)="updateProperty()" *ngIf="property.IdProperty != 0" class="btn btn-primary mr-4">
    Save changes
</button>
  
<button (click)="updateProperty()" *ngIf="property.IdProperty != 0" class="btn btn-primary">
    Sell Property
</button>